/*======== Components Styles ========= */

/*------------ Seccion Header -------- */

.header_logo img {
    width: 40px;
}

.header_title {

    color: var(--primary-font-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font-family);
    text-align: center;
    flex: 1;
}


.header_h1 {
    margin: 0;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}

.paragraph_header {
    font-size: 1.2rem;
    color: var(--tertiary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
}


.icon_menu-hamburger {
    font-size: 28px;
    cursor: pointer;
    padding: 5px;
}

.icon_menu-hamburger img {
    width: 40px;
}



/*------------ Section Hero -------- */

.hero_image img {
    width: 280px;
    max-width: 280px;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    margin-left: 5px;
    top: 4px;
}

.hero_image .circle {
    position: absolute;
    background: linear-gradient(360deg, rgb(0, 33, 104), #6ba3f0, #78e6ff);
    width: 100%;
    height: 100%;
    z-index: 1;
    width: 390px;
    height: 450px;
    border-radius: 30%;
    transform: translate(-13%, -96%);
    box-shadow: 10px 10px 20px rgb(177, 174, 174);
}

.location {
    color: var(--tertiary-color);
    font-size: 1.1rem;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 1.5rem;
    padding-bottom: 20px;
}

.h2_main_section {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

.colored {

    font-size: 2.5rem;
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
    color: var(--secondary-color);
}

.paragraph_description_business {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    line-height: 1.5rem;
}



/*======== Buttons Styles ========= */

/*------------ Seccion Buttons -------- */

.button_turno {
    border-radius: 10px;

    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button_turno:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}

.button_servicios {
    border: 1px solid #ccc;
    padding: 12px 15px;
    color: #555;
    border-radius: 10px;
    text-decoration: none;
    background: rgb(242, 242, 242);
    font-size: .8rem;
}


.button_servicios:hover {
    background: #f0f0f0;
    cursor: pointer;
    transform: translateY(-2px);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/*------------ Seccion Conocenos -------- */

.button-conocenos {
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button-conocenos:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}


/*------------ Seccion Formulario -------- */
.boton-enviar_form {
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-enviar_form:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}


/*----------- Cards Styles ---------*/



.cards-servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    margin-bottom: 50px;
}

.card_servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.card_servicios img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {

    background: var(--bg-color);
    padding: 40px 0;
    width: 100%;

}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 30px;
}

.footer-section {
    flex: 1;
    min-width: 200px;

}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: var(--secondary-font-color);
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: var(--tertiary-color);
}

.footer_copyright {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer_text {
    color: var(--secondary-font-color);
    text-align: center;
}

.footer_redes-sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    align-items: center;

}

.footer_redes-sociales a {
    color: var(--secondary-font-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.footer_redes-sociales img  {
    width: 30px;
    height: 30px;


}