/*======== Buttons Styles ========= */

/*------------ Seccion Buttons -------- */

.button_turno {
    border-radius: 10px;

    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button_turno:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}

.button_servicios {
    border: 1px solid #ccc;
    padding: 12px 15px;
    color: #555;
    border-radius: 10px;
    text-decoration: none;
    background: rgb(242, 242, 242);
    font-size: .8rem;
}


.button_servicios:hover {
    background: #f0f0f0;
    cursor: pointer;
    transform: translateY(-2px);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/*------------ Seccion Conocenos -------- */

.button-conocenos {
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button-conocenos:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}


/*------------ Seccion Formulario -------- */
.boton-enviar_form {
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-enviar_form:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}


/*----------- Cards Styles ---------*/



.cards-servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    margin-bottom: 50px;
}

.card_servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.card_servicios img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    background: rgb(200, 200, 200);
    padding: 20px 10px;
    margin-top: 20px;
}

.footer-text {
    font-size: 14px;
    color: var(--primary-font-color);
    margin-bottom: 10px;
    font-family: var(--font-family);
}

.footer .redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width:20px;
    font-size: 28px;
    cursor: pointer;
    padding: 5px;
}

