/*======== Components Styles ========= */

/*------------ Seccion Header -------- */

.header_logo img {
    width: 40px;
}

.header_title {

    color: var(--primary-font-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font-family);
    text-align: center;
    flex: 1;

}



.header_h1 {
    margin: 0;
    font-size: 1.5rem;
    padding: 5px 10px 5px 10px;
}

@media (min-width: 768px) {
    .header_h1 {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .header_h1 {
        font-size: 2.5rem;
    }
}

.paragraph_header {
    font-size: 1.2rem;
    color: var(--tertiary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .paragraph_header {
        font-size: 1.4rem;
    }
}

@media (min-width: 1024px) {
    .paragraph_header {
        font-size: 1.6rem;
    }
}

.icon_menu-hamburger {
    font-size: 28px;
    cursor: pointer;
    padding: 5px;
}

.icon_menu-hamburger img {
    width: 40px;
}

@media (min-width: 768px) {
    .icon_menu-hamburger {
        display: none;
    }
}

@media (min-width: 1024px) {
    .icon_menu-hamburger {
        display: none;
    }
}

/*------------ Section Hero -------- */

.hero_image img {
    width: 280px;
    max-width: 280px;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    margin-left: 5px;
    top: 4px;
}

@media (min-width: 768px) {
    .hero_image img {
        width: 350px;
        height: 450px;
    }
}

@media (min-width: 1024px) {
    .hero_image img {
        width: 400px;
        height: 500px;
    }
}
.hero_image .circle {
    position: absolute;
    background: linear-gradient(360deg, rgb(0, 33, 104), #6ba3f0, #78e6ff);
    width: 100%;
    height: 100%;
    z-index: 1;
    width: 390px;
    height: 450px;
    border-radius: 30%;
    transform: translate(-13%, -96%);
    box-shadow: 10px 10px 20px rgb(177, 174, 174);
}

@media (min-width: 768px) {
    .hero_image .circle {
        width: 480px;
        height: 550px;
        transform: translate(-15%, -98%);
    }
}

@media (min-width: 1024px) {
    .hero_image .circle {
        width: 530px;
        height: 600px;
        transform: translate(-17%, -100%);
    }
}

.location {
    color: var(--tertiary-color);
    font-size: 1.1rem;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 1.5rem;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .location {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .location {
        font-size: 1.3rem;
    }
}

.h2_main_section {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

@media (min-width: 768px) {
    .h2_main_section {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .h2_main_section {
        font-size: 3.5rem;
    }
}   

.colored {

    font-size: 2.5rem;
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
    color: var(--secondary-color);
}

@media (min-width: 768px) {
    .colored {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .colored {
        font-size: 3.5rem;
    }
}


.paragraph_description_business {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .paragraph_description_business {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .paragraph_description_business {
        font-size: 1.3rem;
    }
}


/*======== Buttons Styles ========= */

/*------------ Seccion Buttons -------- */

.button_turno {
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button_turno:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}

.button_servicios {
    border: 1px solid #ccc;
    padding: 12px 15px;
    color: #555;
    border-radius: 10px;
    text-decoration: none;
    background: rgb(242, 242, 242);
    font-size: .8rem;
}


.button_servicios:hover {
    background: #f0f0f0;
    cursor: pointer;
    transform: translateY(-2px);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/*------------ Seccion Conocenos -------- */

.button-conocenos {
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button-conocenos:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}


/*------------ Seccion Formulario -------- */
.boton-enviar_form {
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

@media (min-width: 768px) {
    .boton-enviar_form {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .boton-enviar_form {
        font-size: 1.1rem;
    }
}

.boton-enviar_form:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}


/*----------- Cards Styles ---------*/



.cards-servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    margin-bottom: 50px;
}

.card_servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .cards-servicios {
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .cards-servicios {
        flex-wrap: nowrap;
    }
}

.card_servicios img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .card_servicios {
        width: 350px;
    }
}

@media (min-width: 1024px) {
    .card_servicios {
        width: 400px;
    }
}


.services_title {
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

@media (min-width: 768px) {
    .services_title {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .services_title {
        font-size: 3rem;
    }
}

.services_description {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5rem;

}

@media (min-width: 768px) {
    .services_description {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .services_description {
        font-size: 1.3rem;
    }
}


.title_limpieza-dental {
    font-size: 1.5rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    .title_limpieza-dental {
        font-size: 1.7rem;
    }
}

@media (min-width: 1024px) {
    .title_limpieza-dental {
        font-size: 2rem;
    }
}

.description_limpieza-dental {
    font-size: 1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .description_limpieza-dental {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .description_limpieza-dental {
        font-size: 1.2rem;
    }
}

.title_extracion-dental {
    font-size: 1.5rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    .title_extracion-dental {
        font-size: 1.7rem;
    }
}

@media (min-width: 1024px) {
    .title_extracion-dental {
        font-size: 2rem;
    }
}   

.description_extraccion-dental {
    font-size: 1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5rem;
}


@media (min-width: 768px) {
    .description_extraccion-dental {
        font-size: 1.1rem;
    }
}   
@media (min-width: 1024px) {
    .description_extraccion-dental {
        font-size: 1.2rem;
    }
}

/*------------ Seccion conocenos -------- */

.about-us_title {
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

@media (min-width: 768px) {
    .about-us_title {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .about-us_title {
        font-size: 3rem;
    }
}

.about-us_description {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .about-us_description {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .about-us_description {
        font-size: 1.3rem;
    }
}


/**------------ Seccion Contacto -------- */

.contact-form_title {
    font-size: 2rem;
    color: var(--primary-font-color);
    font-family: var(--font-family);
    margin-bottom: 10px;
    padding-left: 10px;
    line-height: 54px;
}

@media (min-width: 768px) {
    .contact-form_title {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .contact-form_title {
        font-size: 3rem;
    }
}

.campo-entrada_textarea {
    height: 150px;
    resize: horizontal;
    padding: 10px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .campo-entrada_textarea {
        height: 200px;
    }
}

@media (min-width: 1024px) {
    .campo-entrada_textarea {
        height: 250px;
    }
}

/*------------ Seccion FAQ -------- */

.faq-title {
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

@media (min-width: 768px) {
    .faq-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .faq-title {
        font-size: 3rem;
    }
}

.faq-item {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
    text-align: left;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .faq-item {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .faq-item {
        font-size: 1.3rem;
    }
}   

.faq-question {
    font-weight: bold;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .faq_answer {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .faq_answer {
        font-size: 1.3rem;
    }
}

.faq_answer {
    margin-left: 20px;
}

@media (min-width: 768px) {
    .faq_answer {
        font-size: 1.2rem;
    }
}   

@media (min-width: 1024px) {
    .faq_answer {
        font-size: 1.3rem;
    }
}



/*------------ Seccion Footer -------- */

footer {

    background: var(--bg-color);
    padding: 40px 0;
    width: 100%;

}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

@media (min-width: 768px) {
    .footer {
        padding: 0 40px;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 0 60px;
    }
}


.footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 30px;
}

@media (min-width: 767px) {
    .footer-content {
        flex-direction: row;
        align-items: space-between;
    }
}

@media (min-width: 1024px) {
    .footer-content {
        flex-direction: row;
        align-items: flex-start;
    }
}

.footer-section {
    flex: 1;
    min-width: 200px;

}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: var(--secondary-font-color);
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: var(--tertiary-color);
}

.footer_copyright {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer_text {
    color: var(--secondary-font-color);
    text-align: center;
}

.footer_redes-sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    align-items: center;

}

.footer_redes-sociales a {
    color: var(--secondary-font-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.footer_redes-sociales img  {
    width: 30px;
    height: 30px;


}