/*------------ Layout General -------- */


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: var(--bg-color);
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


body {
    background-color: rgb(242, 242, 242);
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
}

/*------------ Section Hero -------- */


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}


/*------------ Section Buttons -------- */

.buttons_container {
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    justify-content: center;
    align-items: space-between;
}

.orders_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
    gap: 50px;
}


/*----------- Section Services -------- */


.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 0px 10px;
    border-radius: 8px;
}



/*----------- Section About Us -------- */

.about-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}




/*----------- Section Contact -------- */

.contact-form {
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 10px 10px;
    margin-bottom: 20px;
}




/*----------FAQ Section -------- */

.faq-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}


/*----------- Footer -------- */

