header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-width: 300px;
    height: 150px;
    background: var(--bg-color);
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header_logo img {
    width: 40px;

}

.header_title {

    color: var(--primary-font-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font-family);
    text-align: center;
    flex: 1;
}

.header_h1 {
    margin: 0;
    font-size: 18px;
    padding: 5px 10px 20px 10px;
}

.paragraph_header {
    font-size: 1.2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
}


.icon_menu-hamburger {
    font-size: 28px;
    cursor: pointer;
    padding: 5px;

}

.icon_menu-hamburger img {
    width: 40px;
}

<!-- Estilo del main -- >

body {
    background-color: rgb(236, 233, 233);
    margin: 0;

}



main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 350px;
    height: auto;
    background: rgb(236, 233, 233);

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    height: auto;
    background: rgb(236, 233, 233);
    padding: 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero_image img {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    position: absolute;
    z-index: 2;
    margin-left: 150px;
    top: 170px;
    
}

.hero_image .circle {
    position: relative;
    background: linear-gradient(360deg, #2330e4, #78e6ff);

    top: 117px;
    right: -100px;    
    z-index: 1;
    width: 620px;
    height: 580px;
    border-radius: 50%; 
    transform: translate(-10%, -30%);
    box-shadow: 10px 10px 20px rgb(177, 174, 174);
}