/*------------ Layout General -------- */


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: var(--bg-color);
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header_logo img {
    width: 40px;

}

.header_title {

    color: var(--primary-font-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font-family);
    text-align: center;
    flex: 1;
}

.header_h1 {
    margin: 0;
    font-size: 18px;
    padding: 5px 10px 20px 10px;
}

.paragraph_header {
    font-size: 1.2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
}


.icon_menu-hamburger {
    font-size: 28px;
    cursor: pointer;
    padding: 5px;

}

.icon_menu-hamburger img {
    width: 40px;
}

body {
    background-color: rgb(242, 242, 242);
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);

}

/*------------ Section Hero -------- */


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero_image img {
    width: 280px;
    max-width: 280px;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    margin-left: 5px;
    top: 4px;


}

.hero_image .circle {
    position: absolute;
    background: linear-gradient(360deg, rgb(0, 33, 104), #6ba3f0, #78e6ff);
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 80px;
    width: 390px;
    height: 500px;
    border-radius: 50%;
    transform: translate(-20%, -99%);
    box-shadow: 10px 10px 20px rgb(177, 174, 174);


}

.location {
    color: var(--tertiary-color);
    font-size: 1.1rem;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 1.5rem;
    padding-bottom: 20px;
}

.h2_main_section {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

.colored {

    font-size: 2.5rem;
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
    color: var(--secondary-color);

}

.paragraph_description_business {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    line-height: 1.5rem;
}


/*------------ Section Buttons -------- */

.buttons_container {
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    justify-content: center;
    align-items: space-between;
}

.orders_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
    gap: 50px;


}

.button_turno {
    border-radius: 10px;

    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button_turno:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}

.button_servicios {
border: 1px solid #ccc;
    padding: 12px 15px;
    color: #555;
    border-radius: 10px;
    text-decoration: none;
    background:rgb(242, 242, 242);
    font-size: .8rem;
}


.button_servicios:hover {
    background: #f0f0f0;
    cursor: pointer;
    transform: translateY(-2px);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


/*----------- Section Services -------- */


.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.services_title {
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;

}

.services_description {
   font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5rem;

}

.cards-servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    margin-bottom: 50px;
    }


.card_servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    background: rgb(242, 242, 242); 
    padding: 10px;
    border-radius: 8px; 
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);


    }

.card_servicios img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    
}

.card_limpieza-dental {
    width: 250px;
    height: auto;
    background: rgb(242, 242, 242); 
    padding: 10px;
    border-radius: 8px; 
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.title_limpieza-dental {
    font-size: 1.5rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: center;
    
}

.description_limpieza-dental {
    font-size: 1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5rem;
    
}

.title_extracion-dental {
    font-size: 1.5rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: center;
    
}


.description_extraccion-dental {
    font-size: 1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5rem;
}

/*----------- Section About Us -------- */

.about-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-us_title {
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;

}

.about-us_description {
   font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5rem;

}

/*----------- Footer -------- */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: var(--bg-color);
    padding: 0 5px;
    margin-top: 20px;
}

.footer_text {
    font-size: 1.5rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
    text-align: center;
}

.button-conocenos {
    border-radius: 10px;

    padding: 5px 20px;
    display: flex;
    border-bottom: 10px 10px solid rgba(43, 74, 248, 0.3);
    border-color: #35ccf7;
    background: #35ccf7;
    padding: 12px 15px;
    color: white;
    font-size: .8rem;
    font-family: var(--font-family);
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button-conocenos:hover {
    background-color: #4055f8;
    transform: translateY(-2px);
}

