/*------------ Layout General -------- */


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: var(--bg-color);
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header_logo img {
    width: 40px;
}

.header_title {

    color: var(--primary-font-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font-family);
    text-align: center;
    flex: 1;
}

.header_h1 {
    margin: 0;
    font-size: 18px;
    padding: 5px 10px 20px 10px;
}

.paragraph_header {
    font-size: 1.2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
}


.icon_menu-hamburger {
    font-size: 28px;
    cursor: pointer;
    padding: 5px;
}

.icon_menu-hamburger img {
    width: 40px;
}

body {
    background-color: rgb(242, 242, 242);
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
}

/*------------ Section Hero -------- */


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero_image img {
    width: 280px;
    max-width: 280px;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    margin-left: 5px;
    top: 4px;
}

.hero_image .circle {
    position: absolute;
    background: linear-gradient(360deg, rgb(0, 33, 104), #6ba3f0, #78e6ff);
    width: 100%;
    height: 100%;
    z-index: 1;
    width: 390px;
    height: 450px;
    border-radius: 30%;
    transform: translate(-13%, -96%);
    box-shadow: 10px 10px 20px rgb(177, 174, 174);
}

.location {
    color: var(--tertiary-color);
    font-size: 1.1rem;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 1.5rem;
    padding-bottom: 20px;
}

.h2_main_section {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

.colored {

    font-size: 2.5rem;
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
    color: var(--secondary-color);
}

.paragraph_description_business {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    line-height: 1.5rem;
}


/*------------ Section Buttons -------- */

.buttons_container {
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    justify-content: center;
    align-items: space-between;
}

.orders_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
    gap: 50px;
}


/*----------- Section Services -------- */


.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 0px 10px;
    border-radius: 8px;
}

.services_title {
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

.services_description {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5rem;

}


.title_limpieza-dental {
    font-size: 1.5rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: center;
}

.description_limpieza-dental {
    font-size: 1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5rem;
}

.title_extracion-dental {
    font-size: 1.5rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: center;
}


.description_extraccion-dental {
    font-size: 1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5rem;
}

/*----------- Section About Us -------- */

.about-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-us_title {
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

.about-us_description {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5rem;
}


/*----------- Section Contact -------- */

.contact-form {
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 10px 10px;
    margin-bottom: 20px;
}

.contact-form_title {
    font-size: 2rem;
    color: var(--primary-font-color);
    font-family: var(--font-family);
    margin-bottom: 10px;
    padding-left: 10px;
    line-height: 54px;
}

.campo-entrada_textarea {
    height: 150px;
    resize: horizontal;
    padding: 10px;
    margin-bottom: 15px;
}


/*----------FAQ Section -------- */

.faq-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.faq-title {
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

.faq-item {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
    text-align: left;
    line-height: 1.5rem;
}

.faq-question {
    font-weight: bold;
    margin-bottom: 5px;
}

.faq_answer {
    margin-left: 20px;
}


/*----------- Footer -------- */

