header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: var(--bg-color);
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header_logo img {
    width: 40px;

}

.header_title {

    color: var(--primary-font-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font-family);
    text-align: center;
    flex: 1;
}

.header_h1 {
    margin: 0;
    font-size: 18px;
    padding: 5px 10px 20px 10px;
}

.paragraph_header {
    font-size: 1.2rem;
    color: var(--primary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 5px;
}


.icon_menu-hamburger {
    font-size: 28px;
    cursor: pointer;
    padding: 5px;

}

.icon_menu-hamburger img {
    width: 40px;
}

body {
    background-color: rgb(242, 242, 242);
    margin: 0;
    width: 100%;
    height: 100%;


}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: rgb(242, 242, 242);

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: rgb(242, 242, 242);
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero_image img {
    width: 100%;
    max-width: 320px;
    height:auto;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    margin-left: 15px;
    top: 4px;

}

.hero_image .circle {
    position: absolute;
    background: linear-gradient(360deg, rgb(0, 33, 104), #6ba3f0, #78e6ff);

    left: 115px;
    z-index: 1;
    width: 650px;
    height: 600px;
    border-radius: 50%;
    transform: translate(-24%, -99%);
    box-shadow: 10px 10px 20px rgb(177, 174, 174);
}

.location {
    color: var(--tertiary-color);
    font-size: 1.1rem;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 1.5rem;
    padding-bottom: 20px;
}

.h2_main_section {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
}

.colored {

    font-size: 2.5rem;
    margin-top: 10px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    line-height: 54px;
    color: var(--secondary-color);

}

.paragraph_description_business {
    font-size: 1.1rem;
    color: var(--secondary-font-color);
    margin-top: 5px;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    line-height: 1.5rem;
}

.buttons_container {
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.orders_buttons {
    display: flex;
    flex-direction: row;
    judtify-content: center;
    padding: 10px 20px;


}

.button_turno{
border-radius: 5px;
justify-content:safe; 
padding: 5px 15px;
} 

